.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.app_root {
  width: 950px;
  margin: 0 auto;
  padding-top: 80px;
}

.upper_triangle {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 1152px;
  width: 100%;
  height: 665px;
  z-index: -1;
  width: 0;
  height: 0;
  border-top: 665px solid rgb(96, 174, 251);
  border-right: 1152px solid transparent;
}
